.grid {
    display: grid;
    grid-template-areas: 
        "header"
        "article"
        "aside"
        "footer"
    ;
    grid-gap: 20px;
}

@media (min-width: 640px){
    .grid {
        grid-template-columns: 2fr 4fr;
        grid-template-areas: 
        "header header"
        "aside article"
        "aside footer"
        
    }
}
header {
    grid-area:header;
}
article {
    grid-area:article;
}
aside {
    grid-area:aside;
}
footer {
    grid-area:footer;
}

.grid > * {
    background-color: #49fcf3ce;
    border-radius: 5px;
}